<html>
<head>
    <link href="~/css/26q.min.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
</head>
<body>
    <div>
        <h1 style="padding-top: 4pt; text-indent: 0pt; text-align: center">
            Form No. 26Q
        </h1>
        <p style="text-indent: 0pt; line-height: 13pt; text-align: center">
            (See section 193, 194, 194A, 194B, 194BB, 194C, 194D, 194EE, 194F, 194G,
            194H, 194I, 194J, 194LA and rule 31A)
        </p>
        <p class="s1"
           style="text-indent: 0pt; line-height: 11pt; text-align: center">
            Quarterly statement of deduction of tax under sub-section (3) of section
            200 of the Income Tax Act in respect of payments other than Salary for the
            quarter ended <b>June 2024</b>
        </p>
        <table style="border-collapse: collapse; margin-left: 5.74pt"
               cellspacing="0">
            <tr style="height: 26pt">
                <td style="width: 185pt">
                    <p class="s2 s14" style="padding-left: 2pt">
                        1. (a) Tax Deduction Account No.
                    </p>
                </td>
                <td style="width: 140pt">
                    <p class="s3 s35" style="padding-left: 14pt">{0}</p>
                </td>
                <td style="width: 324pt">
                    <p class="s2 s14" style="padding-left: 53pt">
                        (d) Has the statement been filed earlier for this quarter (Yes/No)
                    </p>
                </td>
                <td style="width: 99pt">
                    <p class="s3 s35" style="padding-left: 5pt">Yes</p>
                </td>
            </tr>
            <tr style="height: 25pt">
                <td style="width: 185pt">
                    <p class="s2 s35" style="padding-left: 15pt">
                        (b) Permanent Account Number
                    </p>
                </td>
                <td style="width: 140pt">
                    <p class="s3 s35" style="padding-left: 14pt">AAYCA0347D</p>
                </td>
                <td style="width: 324pt">
                    <p class="s2 s35" style="padding-left: 53pt">
                        (e) If answer to (d) is &quot;Yes&quot;, then Token No. of original
                    </p>
                    <p class="s2 s35" style="padding-left: 53pt">statement</p>
                </td>
                <td style="width: 99pt">
                    <p class="s3 s35" style="padding-left: 5pt">088319600000440</p>
                </td>
            </tr>
            <tr style="height: 13pt">
                <td style="width: 185pt">
                    <p class="s2 s35" style="padding-left: 15pt">(c) Financial Year</p>
                </td>
                <td style="width: 140pt">
                    <p class="s3 s35" style="padding-left: 14pt">2024-2025</p>
                </td>
                <td style="width: 324pt">
                    <p class="s2 s35" style="padding-left: 53pt">(f) Type of Deductor</p>
                </td>
                <td style="width: 99pt">
                    <p class="s3 s35" style="padding-left: 5pt">Non-Government</p>
                </td>
            </tr>
        </table>
        <ol id="l1">
            <li data-list-text="2.">
                <p style="padding-top: 11pt" class="s33">Particular of the Deductor</p>
                <table style="border-collapse: collapse; margin-left: 18.244pt"
                       cellspacing="0">
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 2pt">(a) Name</p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s3 s31" style="padding-left: 74pt">
                                TECHNOLOGIES INDIA PRIVATE LIMITED
                            </p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 2pt">
                                (b) If Central/State Government
                            </p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s27"><br /></p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s27"><br /></p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s2 s31" style="padding-left: 41pt">Name</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 548pt" colspan="2">
                            <p class="s2 s36">AIN Code of PAO/TO/CDDO</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 2pt">
                                (c) TAN Registration No.
                            </p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s27"><br /></p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 2pt">(d) Address</p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s27"><br /></p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 30pt">Flat No.</p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s3 s31" style="padding-left: 74pt">Plot No 3</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 30pt">
                                Name of the premises/building
                            </p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s3 s31" style="padding-left: 74pt">Industrial Area</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 30pt">Road/Street/Lane</p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s3 s31" style="padding-left: 74pt">Phase ABC</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 29pt">Area/Location</p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s3 s31" style="padding-left: 74pt">SAS Nagar</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 30pt">
                                Town/City/District
                            </p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s3 s31" style="padding-left: 74pt">MOHALI</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 29pt">State</p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s3 s31" style="padding-left: 74pt">PUNJAB</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 29pt">PIN Code</p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s3 s31" style="padding-left: 74pt">160062</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 30pt">Telephone No.</p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s27"><br /></p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 29pt">
                                Alternate Telehone No.
                            </p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s3 s31" style="padding-left: 74pt">-</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s31" style="padding-left: 29pt">Email</p>
                        </td>
                        <td style="width: 296pt">
                            <p style="padding-left: 74pt" class="s31">
                                <a href="mailto:info@a.com" class="s4">info@a.com</a>
                            </p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 252pt">
                            <p class="s2 s15" style="padding-left: 29pt">Alternate Email</p>
                        </td>
                        <td style="width: 296pt">
                            <p class="s27"><br /></p>
                        </td>
                    </tr>
                </table>
                <p class="s27"><br /></p>
            </li>
            <li data-list-text="3.">
                <p style="padding-left: 19pt; text-indent: -12pt; text-align: left">
                    Particulars of the person responsible for deduction of tax:
                </p>
                <table style="border-collapse: collapse; margin-left: 18.244pt"
                       cellspacing="0">
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 2pt">(a) Name</p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s3 s31" style="padding-left: 73pt">Singh</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 2pt">(b) Address</p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s27"><br /></p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">Flat No.</p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s3 s31" style="padding-left: 73pt">PLOT NO. 3</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">
                                Name of the premises/ Building
                            </p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s3 s31" style="padding-left: 73pt">Industrial Area</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">Road/Street/Lane</p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s3 s31" style="padding-left: 73pt">Phase ABC</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">Area/Location</p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s3 s31" style="padding-left: 73pt">SAS Nagar</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">
                                Town/City/District
                            </p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s3 s31" style="padding-left: 73pt">MOHALI</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">State</p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s3 s31" style="padding-left: 73pt">PUNJAB</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">PIN Code</p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s3 s31" style="padding-left: 73pt">160062</p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">Telephone No.</p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s27"><br /></p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">
                                Alternate Telephone No.
                            </p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s27"><br /></p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">Email</p>
                        </td>
                        <td style="width: 154pt">
                            <p style="padding-left: 73pt" class="s31">
                                <a href="mailto:info@a.com" class="s4">info@a.com</a>
                            </p>
                        </td>
                    </tr>
                    <tr style="height: 13pt">
                        <td style="width: 253pt">
                            <p class="s2 s31" style="padding-left: 26pt">Alternate Email</p>
                        </td>
                        <td style="width: 154pt">
                            <p class="s27"><br /></p>
                        </td>
                    </tr>
                </table>
                <p class="s27"><br /></p>
                <table style="border-collapse: collapse; margin-left: 42.724pt"
                       cellspacing="0">
                    <tr style="height: 13pt">
                        <td style="width: 179pt">
                            <p class="s2 s31" style="padding-left: 2pt">Mobile No.</p>
                        </td>
                        <td style="width: 188pt">
                            <p class="s3 s31" style="padding-left: 123pt">9810000009</p>
                        </td>
                    </tr>
                </table>
            </li>
            <li data-list-text="4.">
                <p style="padding-top: 12pt" class="s33">
                    Details of tax deducted and paid to be the credit of the Central
                    Government:
                </p>
                <table style="border-collapse: collapse; margin-left: 6.81pt"
                       cellspacing="0">
                    <tr style="height: 92pt">
                        <td style="width: 68pt" class="s16">
                            <p class="s5"
                               style="text-indent: 0pt; line-height: 11pt; text-align: center">
                                Sl. No.
                            </p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s5 s17" style="padding-right: 25pt">Tax</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s5 s15" style="padding-left: 17pt">Interest</p>
                        </td>
                        <td style="width: 68pt" class="s16">
                            <p class="s5 s17" style="padding-right: 25pt">Fee</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s5"
                               style="padding-left: 19pt; text-indent: -3pt; text-align: left">
                                Penalty/ Others
                            </p>
                        </td>
                        <td style="width: 94pt" class="s16">
                            <p class="s5"
                               style="padding-left: 1pt; text-indent: 0pt; text-align: center">
                                Total amount deposited as per challan/ Book Adjustment
                                (402+403+404+405)
                            </p>
                        </td>
                        <td style="width: 71pt" class="s16">
                            <p class="s5 s24" style="padding-left: 3pt; padding-right: 3pt">
                                Mode of deposit through Challan (c)/ Book Adjustment(B)
                            </p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s5"
                               style="padding-left: 1pt; text-indent: 0pt; text-align: center">
                                BSR Code/ Receipt Number of Form No 24G
                            </p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s5" style="text-indent: 0pt; text-align: center">
                                Challan Serial No./ DDO
                            </p>
                            <p class="s5 s24" style="padding-left: 6pt; padding-right: 6pt">
                                Serial No. of Form No. 24 G
                            </p>
                        </td>
                        <td style="width: 71pt" class="s16">
                            <p class="s5 s24" style="padding-left: 2pt; padding-right: 2pt">
                                Date of which amount deposited through challan/ Date of transfer
                            </p>
                            <p class="s5 s13">voucher (dd/mm/s30)</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s5"
                               style="padding-left: 17pt; text-indent: -14pt; text-align: left">
                                Minor Head of Challan
                            </p>
                        </td>
                    </tr>
                    <tr style="height: 11pt">
                        <td style="width: 68pt" class="s16">
                            <p class="s6 s37">[401]</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s18" style="padding-right: 23pt">[402]</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s37">[403]</p>
                        </td>
                        <td style="width: 68pt" class="s16">
                            <p class="s6 s18" style="padding-right: 23pt">[404]</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s19" style="padding-left: 1pt">[405]</p>
                        </td>
                        <td style="width: 94pt" class="s16">
                            <p class="s6 s37">[406]</p>
                        </td>
                        <td style="width: 71pt" class="s16">
                            <p class="s6 s37">[407]</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s19" style="padding-left: 1pt">[408]</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s37">[409]</p>
                        </td>
                        <td style="width: 71pt" class="s16">
                            <p class="s6 s18" style="padding-right: 24pt">[410]</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s37">[411]</p>
                        </td>
                    </tr>
                    <tr style="height: 11pt">
                        <td style="width: 68pt" class="s16">
                            <p class="s6 s25">1</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">11200</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">0</p>
                        </td>
                        <td style="width: 68pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">0</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">0</p>
                        </td>
                        <td style="width: 94pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">11200</p>
                        </td>
                        <td style="width: 71pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">C</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">0180002</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">05958</p>
                        </td>
                        <td style="width: 71pt" class="s16">
                            <p class="s6 s30">06/05/2024</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">200</p>
                        </td>
                    </tr>
                    <tr style="height: 11pt">
                        <td style="width: 68pt" class="s16">
                            <p class="s6 s25">Total</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">126263</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">570</p>
                        </td>
                        <td style="width: 68pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">0</p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">0</p>
                        </td>
                        <td style="width: 94pt" class="s16">
                            <p class="s6 s20" style="padding-left: 1pt">126833</p>
                        </td>
                        <td style="width: 71pt" class="s16">
                            <p class="s27"><br /></p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s27"><br /></p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s27"><br /></p>
                        </td>
                        <td style="width: 71pt" class="s16">
                            <p class="s27"><br /></p>
                        </td>
                        <td style="width: 69pt" class="s16">
                            <p class="s27"><br /></p>
                        </td>
                    </tr>
                </table>
                <p class="s27"><br /></p>
            </li>
            <li data-list-text="5.">
                <p style="padding-left: 19pt; text-indent: -12pt; text-align: left">
                    Details of amount paid and tax deducted thereon from the deductees
                </p>
            </li>
        </ol>
        <h1 style="padding-top: 12pt; text-indent: 0pt; text-align: center">
            Verification
        </h1>
        <p style="padding-top: 11pt" class="s32">
            I, <b>Singh </b>, hereby certify that all the particulars furnished above
            are correct and complete.
        </p>
        <p class="s27"><br /></p>
        <p style="padding-left: 6pt; text-indent: 0pt; text-align: left">
            Place : <b>MOHALI </b>Signature of the person responsible for deducting
            tax at source
        </p>
        <p style="padding-top: 12pt" class="s32">
            Date: <b>27/11/2024 </b>Name and designation of the person resposible for
            deducting tax at source
        </p>
        <h1 style="padding-left: 403pt; text-indent: 0pt; text-align: left">
            Singh
        </h1>
        <p style="padding-left: 403pt; text-indent: 0pt; text-align: left">
            Designation: .<b>Director</b>.
        </p>
        <p class="s27"><br /></p>
        <table style="border-collapse: collapse; margin-left: 6.81pt"
               cellspacing="0">
            <tr style="height: 12pt">
                <td class="s10" style="width: 392pt">
                    <p class="s5 s34" style="padding-left: 13pt">Name Of Deductor</p>
                </td>
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 12pt">
                        AHLUWALIA TECHNOLOGIES INDIA PRIVATE LIMITED
                    </p>
                </td>
            </tr>
            <tr style="height: 12pt">
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 13pt">TAN</p>
                </td>
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 12pt">PTLA20757C</p>
                </td>
            </tr>
            <tr style="height: 12pt">
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 13pt">
                        BSR Code of the Branch/ Receipt Number of Form No 24G
                    </p>
                </td>
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 12pt">0180002</p>
                </td>
            </tr>
            <tr style="height: 12pt">
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 13pt">
                        Date on Which challan deposited/ Transfer vourcher date (dd/mm/s30)
                    </p>
                </td>
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 12pt">06/05/2024</p>
                </td>
            </tr>
            <tr style="height: 12pt">
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 13pt">
                        Challan Serial Number/ DDO Serial No. of Form No. 24G
                    </p>
                </td>
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 12pt">05958</p>
                </td>
            </tr>
            <tr style="height: 12pt">
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 13pt">Amount as per Challan</p>
                </td>
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 12pt">11200</p>
                </td>
            </tr>
            <tr style="height: 12pt">
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 13pt">
                        Total TDS to be allocated among duductees as in the vertical total
                        of Col. 421
                    </p>
                </td>
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 12pt">11200</p>
                </td>
            </tr>
            <tr style="height: 12pt">
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 13pt">
                        Total Interest to be allocate among the deductees mentioned below
                    </p>
                </td>
                <td style="width: 392pt" class="s10">
                    <p class="s5 s34" style="padding-left: 12pt">0</p>
                </td>
            </tr>
        </table>
        <p class="s27"><br /></p>
        <table style="border-collapse: collapse; margin-left: 6.81pt"
               cellspacing="0">
            <tr style="height: 120pt">
                <td style="width: 25pt" class="s10">
                    <p class="s7 s25">SrNo.</p>
                </td>
                <td style="width: 55pt" class="s10">
                    <p class="s7 s21" style="padding-left: 4pt">
                        Deductee Reference Number provided by the deductor, if available
                    </p>
                </td>
                <td style="width: 58pt" class="s10">
                    <p class="s7 s22" style="padding-left: 5pt; padding-right: 5pt">
                        Deductee Code (01 - Company02- other than company)
                    </p>
                </td>
                <td style="width: 58pt" class="s10">
                    <p class="s7"
                       style="padding-left: 11pt; text-indent: -2pt; text-align: left">
                        PAN Of the Deductee
                    </p>
                </td>
                <td style="width: 101pt" class="s10">
                    <p class="s7 s25">Name Of the Deductee</p>
                </td>
                <td style="width: 53pt" class="s10">
                    <p class="s7 s25">Section Code</p>
                </td>
                <td style="width: 51pt" class="s10">
                    <p class="s7 s22" style="padding-left: 1pt; padding-right: 1pt">
                        Date Of Payment or Credit (dd/mm/s30)
                    </p>
                </td>
                <td style="width: 46pt" class="s10">
                    <p class="s7 s22" style="padding-left: 8pt; padding-right: 8pt">
                        Amount Paid/ credited
                    </p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s7 s29">Total Tax deducted</p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s7 s28">Total Tax Deposited</p>
                </td>
                <td style="width: 52pt" class="s10">
                    <p class="s7 s22" style="padding-left: 2pt; padding-right: 1pt">
                        Date Of Deduction (dd/mm/s30)
                    </p>
                </td>
                <td style="width: 48pt" class="s10">
                    <p class="s7 s22" style="padding-left: 7pt; padding-right: 7pt">
                        Rate at which deducted
                    </p>
                </td>
                <td style="width: 51pt" class="s10">
                    <p class="s7 s22" style="padding-left: 4pt; padding-right: 4pt">
                        Reason for non Deduction/ Lower Deduction/ Higher Deduction/
                        Threshold/ Transporter
                    </p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s7 s21" style="padding-left: 4pt">
                        Number of the certificate under section 197 issued by the Assessing
                        Officer for non- deduction/ lower
                    </p>
                    <p class="s7 s23">deduction</p>
                </td>
            </tr>
            <tr style="height: 10pt">
                <td style="width: 25pt" class="s10">
                    <p class="s7 s23">(412)</p>
                </td>
                <td style="width: 55pt" class="s10">
                    <p class="s7 s12" style="padding-left: 18pt">(413)</p>
                </td>
                <td style="width: 58pt" class="s10">
                    <p class="s7 s23">(414)</p>
                </td>
                <td style="width: 58pt" class="s10">
                    <p class="s7 s23">(415)</p>
                </td>
                <td style="width: 101pt" class="s10">
                    <p class="s7 s23">(416)</p>
                </td>
                <td style="width: 53pt" class="s10">
                    <p class="s7 s23">(417)</p>
                </td>
                <td style="width: 51pt" class="s10">
                    <p class="s7 s12" style="padding-left: 16pt">(418)</p>
                </td>
                <td style="width: 46pt" class="s10">
                    <p class="s7 s12" style="padding-left: 13pt">(419)</p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s7 s12" style="padding-left: 14pt">(420)</p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s7 s12" style="padding-left: 15pt">(421)</p>
                </td>
                <td style="width: 52pt" class="s10">
                    <p class="s7 s12" style="padding-left: 16pt">(422)</p>
                </td>
                <td style="width: 48pt" class="s10">
                    <p class="s7 s23">(423)</p>
                </td>
                <td style="width: 51pt" class="s10">
                    <p class="s7 s23">(424)</p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s7 s12" style="padding-left: 15pt">(425)</p>
                </td>
            </tr>
            <tr style="height: 10pt">
                <td style="width: 25pt" class="s10">
                    <p class="s7 s23">1</p>
                </td>
                <td style="width: 55pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
                <td style="width: 58pt" class="s10">
                    <p class="s7 s23">2</p>
                </td>
                <td style="width: 58pt" class="s10">
                    <p class="s7 s23">ABBPA0392D</p>
                </td>
                <td style="width: 101pt" class="s10">
                    <p class="s7 s23">NAVNEET AHLUWALIA</p>
                </td>
                <td style="width: 53pt" class="s10">
                    <p class="s7 s23">4IB</p>
                </td>
                <td style="width: 51pt" class="s10">
                    <p class="s7 s11">16/04/2024</p>
                </td>
                <td style="width: 46pt" class="s10">
                    <p class="s7 s11">50000</p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s7 s11">5000</p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s7 s11">5000</p>
                </td>
                <td style="width: 52pt" class="s10">
                    <p class="s7 s26">16/04/2024</p>
                </td>
                <td style="width: 48pt" class="s10">
                    <p class="s7 s23">10.0000</p>
                </td>
                <td style="width: 51pt" class="s10">
                    <p class="s7 s23">N.A.</p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
            </tr>
            <tr style="height: 10pt">
                <td style="width: 25pt" class="s10">
                    <p class="s7 s23">Total</p>
                </td>
                <td style="width: 55pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
                <td style="width: 58pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
                <td style="width: 58pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
                <td style="width: 101pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
                <td style="width: 53pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
                <td style="width: 51pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
                <td style="width: 46pt" class="s10">
                    <p class="s7 s11">112000</p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s7 s11">11200</p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s7 s11">11200</p>
                </td>
                <td style="width: 52pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
                <td style="width: 48pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
                <td style="width: 51pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
                <td style="width: 49pt" class="s10">
                    <p class="s27"><br /></p>
                </td>
            </tr>
        </table>
        <p class="s27"><br /></p>
    </div>

</body>
</html>
